<div class="modalenabled" style="width:800px">
    <h3>{#if update}Update{#else}Add{/if} Bookmark</h3>
    <hr>
    
    <div id="bookmarkFormStatus"></div>

    <div class="form-row align-items-center" style="display: block;">
        <input type="text" name="id1" id="id" style="display: none;" {#if update}value="{bookmark.id}"{/if}>
        <div class="form-group">
            <label for="name"><strong>Bookmark Name</strong></label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name" required autofocus {#if update}value="{bookmark.name}"{/if}>
        </div>

        <div class="form-group">
            <label for="url"><strong>Bookmark URL</strong></label>
            <input type="text" name="url" class="form-control" id="url" placeholder="URL" required autofocus {#if update}value="{bookmark.url}"{/if}>
        </div>

        <div class="form-group">
            <label for="tags"><strong>Tags</strong></label>
            <input type="text" name="tags" class="form-control" id="tags" placeholder="Tags" required autofocus {#if update}value="{bookmark.tags}"{/if}>

            <small id="tagsHelpBlock" class="form-text text-muted">
                Enter all tags comma separated.
            </small>
        </div>

        <div class="col-sm-12 my-1">
            <button type="submit" class="btn btn-primary" onclick="submit()">{#if update}Update{#else}Add{/if}</button>
        </div>
    </div>
</div>